<label>Filters</label>
<hr/>
<br/>
<br/>
<label>Security:</label>
<hr/>
<p>High:  {{secHeight}}</p>
<p>Medium: {{secMed}}</p>
<p>Low: {{secLow}}</p>
<br/>
<label>Protocol:</label>
<hr/>
<p>HTTP: {{http}}</p>
<p>FTP: {{ftp}}</p>
<p>TLS: {{tls}}</p>
<br/>
<label>Client IP:</label>
  <hr/>
  <div *ngFor="let c of clientIps">
    <p>{{c.ip}}: {{c.count}}</p>
  </div>
<hr/>


  


