<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">Alerts</a>
  </nav>
<div class="container">
    
  <div class="row">
    <div class="col-2">
      <app-alert-filer [alerts$]="alerts$"></app-alert-filer>
     
    </div>
    <div class="col-8">
       <app-alerts-table (onAlert)="showAlert($event)" [alerts$]="alerts$"></app-alerts-table> 
    </div>
    <div class="col-2">
      <app-alert-detail [alert]="currentAlert"></app-alert-detail>
    </div>
    
  </div>
</div>



