<p *ngIf="!alert">Alert Details: none</p>

<div *ngIf="alert">
  <p> Alert Details: {{alert.AlertId}}</p>
  <br/>

  <p> Alert Time: {{alert.AlertTime}}</p>
  <p> Severity: {{alert.Severity}}</p>
  <p> Client IP: {{alert.ClientIP}}</p>
  <p> Server IP: {{alert.ServerIP}}</p>
  <p> Protocol: {{alert.AlertId}}</p>
  <p> Client Country: {{alert.ClientCountry}}</p>
</div>
