<table class="table">
    <thead>
      <tr>
        <th scope="col">AlertId</th>
        <th scope="col">AlertTime</th>
        <th scope="col">Severity</th>
        <th scope="col">ClientIP</th>
        <th scope="col">ClientIP</th>
        <th scope="col">ClientCountry</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let alert of alerts$ | async" (click)="showAlert(alert)">
        <td>{{alert.AlertId}}</td>
        <td>{{alert.AlertTime}}</td>
        <td>{{alert.Severity}}</td>
        <td>{{alert.ClientIP}}</td>
        <td>{{alert.ClientIP}}</td>
        <td>{{alert.ClientCountry}}</td>
      </tr>
    
    </tbody>
  </table>